1 Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [2]:
lista1 = ['Roma', 'Atenas', 'Auckland', 'Sydney', 'Amsterdam', 'Tokio']
print(lista1)

['Roma', 'Atenas', 'Auckland', 'Sydney', 'Amsterdam', 'Tokio']

2 Imprimir por pantalla el segundo elemento de la lista

In [3]:
print(lista1[1])

Atenas

3 Imprimir por pantalla del segundo al cuarto elemento

In [4]:
print(lista1[1:4])

['Atenas', 'Auckland', 'Sydney']

4 Visualizar el tipo de dato de la lista

In [5]:
print(type(lista1))

<class 'list'>

5 Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [6]:
print(lista1[2:])

['Auckland', 'Sydney', 'Amsterdam', 'Tokio']

6 Visualizar los primeros 4 elementos de la lista

In [7]:
print(lista1[:4])

['Roma', 'Atenas', 'Auckland', 'Sydney']

7 Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?
   Rta: No hay problema en repetir valores en una lista

In [9]:
lista1.append('Auckland')
lista1.append('Madrid')
print(lista1)

['Roma', 'Atenas', 'Auckland', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid']

8 Agregar otra ciudad, pero en la cuarta posición

In [10]:
lista1.insert(3, 'Orlando')
print(lista1)

['Roma', 'Atenas', 'Auckland', 'Orlando', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid']

9 Concatenar otra lista a la ya creada

In [11]:
lista1.extend(['Oslo', 'Miami'])
print(lista1)

['Roma', 'Atenas', 'Auckland', 'Orlando', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid', 'Oslo', 'Miami']

10 Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?
   Rta: Devuelve el indice de la primera ocurrencia

In [12]:
i = lista1.index('Auckland')
print(i)

2

11 ¿Qué pasa si se busca un elemento que no existe?
   Rta: Devuelve un error

In [13]:
i = lista1.index('Maracaibo')
print(i)

ValueError: 'Maracaibo' is not in list

12 Eliminar un elemento de la lista

In [14]:
del(lista1[0])
print(lista1)

['Atenas', 'Auckland', 'Orlando', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid', 'Oslo', 'Miami']

In [15]:
lista1.remove('Miami')
print(lista1)

['Atenas', 'Auckland', 'Orlando', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid', 'Oslo']

13 ¿Qué pasa si el elemento a eliminar no existe?
   Rta: En ese caso, devuelve un error

In [16]:
lista1.remove('Alicante')

ValueError: list.remove(x): x not in list

14 Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [17]:
ultimo_elemento = lista1.pop()
print(ultimo_elemento)

Oslo

15 Mostrar la lista multiplicada por 4

In [18]:
print(lista1 * 4)

['Atenas', 'Auckland', 'Orlando', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid', 'Atenas', 'Auckland', 'Orlando', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid', 'Atenas', 'Auckland', 'Orlando', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid', 'Atenas', 'Auckland', 'Orlando', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid']

16 Crear una tupla que contenga los números enteros del 1 al 20

In [30]:
v16 = tuple(range(1,21))
print(v16)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17 Imprimir desde el índice 10 al 15 de la tupla

In [21]:
print(v16[10:16])

(11, 12, 13, 14, 15, 16)

18 Evaluar si los números 20 y 30 están dentro de la tupla

In [22]:
if (20 in v16):
    print('El 20 está en la tupla')
if (30 in v16):
    print('El 30 está en la tupla')

El 20 está en la tupla

19 Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [24]:
v19 = 'París'
if not(v20 in lista1):
    lista1.append(v19)
print(lista1)

['Atenas', 'Auckland', 'Orlando', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid', 'París']

20 Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [26]:
print(lista1.count('Madrid'))
print(v16.count(5))

2
1

21 Convertir la tupla en una lista

In [31]:
v21 = v16
print(type(v21))
v21 = list(v21)
print(type(v21))

<class 'tuple'>
<class 'list'>

22 Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [32]:
v22a, v22b, v22c = v16[:3]
print(v22a, '-', v22b, '-', v22c)

1 - 2 - 3

23 Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [34]:
dicc23 = {'ciudad': lista1,
            'Pais': [],
            'Continente': []}

24 Imprimir las claves del diccionario

In [35]:
print(dicc23.keys())

dict_keys(['ciudad', 'Pais', 'Continente'])

25 Imprimir las ciudades a través de su clave

In [36]:
print(dicc23['ciudad'])

['Atenas', 'Auckland', 'Orlando', 'Sydney', 'Amsterdam', 'Tokio', 'Auckland', 'Madrid', 'Auckland', 'Madrid', 'París']